@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/CSS/Style_guia.css" asp-append-version="true" />

<div class="Titulo_guias">How to platinum Hollow Knight</div>
<div class="Imagen_guias">
    <img class="imagen img1" src="~/Imagenes/LOGROS/hollow knight_02.png" />
    <div class="plataformas-container">
        <h2>Plataformas</h2>
        <div class="plataformas">
            <img src="~/Imagenes/LOGROS/NINTENDO.png" alt="Nintendo" />
            <img src="~/Imagenes/LOGROS/XBOX.png" alt="Xbox" />
            <img src="~/Imagenes/LOGROS/PS4.png" alt="PS4" />
            <img src="~/Imagenes/LOGROS/PC.png" alt="PC" />
        </div>
    </div>
    <div class="trofeos-container">
        <span class="platino"><img src="~/Imagenes/LOGROS/platino.png"> 1</span>
        <span class="oro"> <img src="~/Imagenes/LOGROS/oro.PNG"> 5</span>
        <span class="plata"><img src="~/Imagenes/LOGROS/plata.PNG"> 11</span>
        <span class="bronce"><img src="~/Imagenes/LOGROS/bronce.PNG"> 18</span>
        <span>35 Trophies</span>
    </div>
    <div class="metacritic-container">
        <span class="metascore">87</span>
        <img src="~/Imagenes/LOGROS/Metacritic_logo.svg.png" alt="Metacritic Logo">
    </div>
</div>
<div class="Achivements_titulo">Achivements</div>
<!-- <p>---------------------PRIMER LOGRO---------------------</p> -->
<div class="achievements">
    <div class="achievement-icon">
        <img src="~/Imagenes/LOGROS/Logro_01.png" alt="Logro">
    </div>
    <div class="achievement-info">
        <h3>Falsedad</h3>
        <p>Derrota al Falso Caballero</p>
    </div>
    <div class="description">
        <p>
            Para conseguir este logro, derrota al Falso Caballero en la Cruz de los Caminos.
            Esquiva sus golpes y ataca cuando quede aturdido hasta romper su armadura y vencer al Maggot dentro.
        </p>
    </div>
    <div class="achievement-percentage">
        69.7%
    </div>
</div>
<!-- <p>--------------------- LOGRO---------------------</p> -->
<div class="achievements">
    <div class="achievement-icon">
        <img src="~/Imagenes/LOGROS/Animoso.png" alt="Logro">
    </div>
    <div class="achievement-info">
        <h3>Animoso</h3>
        <p>Adquiere 3 fragmentos de vasija</p>
    </div>
    <div class="description">
        <p>
            El logro "Animoso" en Hollow Knight se obtiene al derrotar al Príncipe Grimm, la versión más poderosa del Rey de la Tropa Grimm. Para lograrlo,
            debes completar el Ritual de la Tropa Grimm y enfrentarte a este desafiante jefe opcional en su forma final.
        </p>
    </div>
    <div class="achievement-percentage">
        41.6%
    </div>
</div>
<!-- <p>--------------------- LOGRO---------------------</p> -->
<div class="achievements">
    <div class="achievement-icon">
        <img src="~/Imagenes/LOGROS/Logro_04.png" alt="Logro">
    </div>
    <div class="achievement-info">
        <h3>Insensato</h3>
        <p>Rescata a la mitad de las larvas perdidas</p>
    </div>
    <div class="description">
        <p>
            El logro "Amigo de las larvas" en Hollow Knight se obtiene al rescatar a todas las larvas atrapadas en Hallownest.
            Debes encontrar cada una en sus respectivas ubicaciones y liberarlas para que regresen con su padre, quien te recompensará con Geo y otros objetos útiles.
        </p>
    </div>
    <div class="achievement-percentage">
        36.4%
    </div>
</div>
<!-- <p>--------------------- LOGRO---------------------</p> -->
<div class="achievements">
    <div class="achievement-icon">
        <img src="~/Imagenes/LOGROS/Logro_03.png" alt="Logro">
    </div>
    <div class="achievement-info">
        <h3>Insensato</h3>
        <p>Completa la prueba de los insensatos</p>
    </div>
    <div class="description">
        <p>
            El logro "Insensatos" se obtiene al derrotar a los Maestros Mantis, los jefes de la Aldea Mantis. Para lograrlo,
            estudia sus patrones de ataque, esquiva con precisión y ataca en los momentos oportunos hasta vencerlas.
        </p>
    </div>
    <div class="achievement-percentage">
        18.5%
    </div>
</div>
<!-- <p>--------------------- LOGRO---------------------</p> -->
<div class="achievements">
    <div class="achievement-icon">
        <img src="~/Imagenes/LOGROS/Consuelo.png" alt="Logro">
    </div>
    <div class="achievement-info">
        <h3>Consuelo</h3>
        <p>Lleva la paz a la doliente gris</p>
    </div>
    <div class="description">
        <p>
            El logro "Consuelo" se obtiene al traerle la Flor Delicada a la Tropa Grimm.
            Para lograrlo, debes completar la misión de la flor sin que se dañe en el trayecto y entregarla con éxito a su destino.
        </p>
    </div>
    <div class="achievement-percentage">
        19.7%
    </div>
</div>
<!-- <p>--------------------- LOGRO---------------------</p> -->
<div class="achievements">
    <div class="achievement-icon">
        <img src="~/Imagenes/LOGROS/Logro_02.png" alt="Logro">
    </div>
    <div class="achievement-info">
        <h3>Cambio de era</h3>
        <p>Completa el Final del Vacío</p>
    </div>
    <div class="description">
        <p>
            El logro "Cambio de Era" se obtiene al completar el Final del Vacío en Hollow Knight. Para conseguirlo,
            debes absorber el Vacío al obtener el Corazón del Vacío y enfrentar el verdadero desenlace del juego..
        </p>
    </div>
    <div class="achievement-percentage">
        6.3%
    </div>
</div>

<!-- <p>--------------------- LOGRO---------------------</p> -->
<div class="achievements">
    <div class="achievement-icon">
        <img src="~/Imagenes/LOGROS/Acepta el vacio.png" alt="Logro">
    </div>
    <div class="achievement-info">
        <h3>Acepta el vacio</h3>
        <p>Adquiere el Corazón del Vacío</p>
    </div>
    <div class="description">
        <p>
            El logro "Acepta el vacío" se obtiene al adquirir el Corazón del Vacío, un objeto clave para desbloquear el final verdadero del juego. Para conseguirlo,
            debes recolectar las tres marcas del Rey en el Palacio Blanco y luego acceder al Abismo, donde el Caballero enfrentará su verdadera naturaleza.
        </p>
    </div>
    <div class="achievement-percentage">
        4.6%
    </div>
</div>